.App {
  text-align: center;
background-color: purple;
  height: 20vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rebeccapurple;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rebeccapurple;
  
}

.App-link {
  color: #61dafb;
}

body {
  color: white;
}

nav > a {
  color: royalblue;
  padding: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 100px;
}

nav > a:hover, nav > a.active {
  text-decoration: underline;
  color: black;
}